{% extends "base.html" %}

<!-- /KS 22Jan2026/ basic HTML stand in for guest bookings -->

{% block content %}
<h1>Your Bookings</h1>


{% if user_guest_bookings %}
    <ul>
        {% for booking in user_guest_bookings %}
            <li>
                <strong>{{ booking.listing_name }}</strong><br>
                {{ booking.listing_description }}<br>
                £{{ booking.price_per_night }} / night<br>
                Date: {{ booking.date }}<br>
                Booking Status: {{ booking.status }}<br>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>You don’t have any bookings yet.</p>
{% endif %}
{% endblock %}